@import url('https://fonts.googleapis.com/css?family=Lato');

@media (min-width: 400px) {
    #divQuienes {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 768px) {
    #divQuienes {
        width: 50%;
        left: 30px;
        transform: none;
    }
}

@media (min-width: 992px) {
    #divQuienes {
        width: 35%;
        left: 30px;
        transform: none;
    }
}

body{
    background-image: url("../img/world-map.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header #logo {
  background-image: url("../img/iconoweb.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 30px;
}
#logo p{
  text-align: center;
  margin-top: 70px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

header #menu{
  color:white;
  font-size: 30px;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: -10vh;
}
#menu a{
     margin-right: 20px;
     color:inherit;
 }
#menu a:hover{
    text-decoration: none;
  }
#redesSociales{
  margin-top: -50px;
  float:right;
  margin-right:10px;
}
#redesSociales ul{
  list-style-type: none;
}
#redesSociales ul li {
  float:left;
  margin-right: 5px;
  background-size: contain;
  width:50px;
  height:50px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
#redesSociales ul li:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
#redesSociales #tw{
  background-image: url("../img/twitter_icon.png");
}
#redesSociales #wp{
  background-image: url("../img/whatsapp_icon.png");
}
#redesSociales #fb{
  background-image: url("../img/facebook_icon.png");
}
#redesSociales #ig{
  background-image: url("../img/instagram_icon.png");
}
#redesSociales #lk{
  background-image: url("../img/linkedin_icon.png");
}
#redesSociales #yt{
  background-image: url("../img/youtube_icon.png");
}
#inicio{
  background-image: url("../img/nathan-anderson-316188-unsplash.jpg");
  background-size: cover;
  height: 100vh;
}
#principal {
  margin-top: 10vh;
  font-family: sans-serif;
  float:left;
  color:white;
  margin-left: 30%;
}
#principal h1,h2 {
  display: block;
}
#principal h1 {
  font-weight: bold;
  font-size: 70px;
}
#principal h2 {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 50px;
  margin-top: 50px;
}
#destinosWrap{
    margin-top:10%;
    background-color:white;
    width: fit-content;
}
.dest .col-md-4 div{
    height:250px;
    width:350px;
    background-size: cover;
    margin-bottom:15vh;
    margin-right: 15vh;
    margin-left: 15vh;
}
.dest h1{
    font-family:Calibri;
    color:white;
    font-size: 20px;
    background-color: #cc0000;
    text-align:end;
    background-size: contain;
    display:inline-block;
    float:right;
    padding-left: 20px;
    padding-right: 20px;
}
#destino1{
    background-image: url("../img/destinos/finland.jpg");
}
#destino2{
    background-image: url("../img/destinos/marruecos.jpg");
    }
#destino3{
    background-image: url("../img/destinos/nicaragua.jpg");
}
#destino4{
    background-image: url("../img/destinos/peru.jpg");
}
#destino5{
    background-image: url("../img/destinos/singapur.jpg");
}
#destino6{
    background-image: url("../img/destinos/suiza.jpg");
}
#nosotros .wrapper{
    background-image: url("../img/elefantes.jpg");
    /*width: 100vw;*/
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

#nosotros .wrapper > div {
    //width: 35vw;
    background-color: rgba(255, 255, 255,0.5);
    position: relative;
    top: 30px;
    //left: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
}

#nosotros .wrapper > div h3,
#nosotros .wrapper > div p{
    color: white;
}

#nosotros .wrapper > div p {
    text-shadow: 1px 1px #537775;
}

#descubrir{
    background-color: #ff6600;
    font-weight: bold;
    width: 110px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 3px;
    padding: 3px 0px;
    position: relative;
    bottom: 5px !important;
    margin-top: 50px;
}
#verDestinos{
  width: 300px;
  text-align: center;
  background-color: #ff6600;
  font-weight: bold;
  font-size: 30px;
  font-weight: lighter;
  font-style: italic;
  border-radius: 3px 0px;
  margin-top: 10vh;
  margin-left: 25vh;
  padding: 20px;
}
#descubrir:hover, #verDestinos:hover {
    cursor:pointer;
    background-color: antiquewhite;
}

#mapa {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 75px;
}
#mapa div {
    padding: 0 10%;
}

form input{
    margin-bottom: 10px !important;
}

footer {
    background-color: black;
    padding-top: 10px;
    color: white;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none !important;
}

footer a, footer p{
    color: white;
}

footer a:hover{
    color: #676767;

}

footer .col-md-4 {
    text-align: center;
}

.footerTitle {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0px;
}

footer p {
    font-weight: normal;
}

#textoAyuda {
    color: #646464;
    font-weight: bold;
}

#divDatos p{
    font-family: 'Lato', sans-serif;
}

#copyRight {
    text-align: center;
    border-top: solid 1px white;
    color: white;
    padding: 15px 0px;
    font-size: 0.8em;
    margin-top: 10px;
}

form button {
    margin-top: 15px;
    //font-weight: 500;
    float: right;
}

footer input {
    background-color: black;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: solid 1.5px white;
    color: white;
    padding: 0px 5px;
}

#contacto input {
    /*border-top: transparent;*/
    /*border-right: transparent;*/
    /*border-left: transparent;*/
    /*border-bottom: solid 1.5px #ced4da;*/
    border: transparent;
    padding: 0px 5px;
    width: 100%;
    //background-color: transparent;
}

#contacto textarea {
    /*border-bottom: solid 1.5px #ced4da !important;*/
    /*background-color: transparent;*/
    border: transparent;
}

#contacto textarea,
#contacto input {
    background-color: rgba(255,255,255,0.8);
    font-weight: bold;
}

footer input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

footer button {
    margin-top: 10px;
    margin-left: 10px;
}

footer button:hover,
#divDatos button:hover{
    color: #565656 !important;
}

#contacto {
    //padding: 40px 0;
}

#divDatos,
#divForm {
    //background-color: rgba(255,255,255,0.8);
    padding: 15px;
    border-radius: 5px;
    //margin-top: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

*:focus{
    outline: none !important;
}

#contacto button {
    border: solid 2px white;
    color:#747474;
    font-weight: bold;
    background-color: rgba(255,255,255,0.8);
}

#contacto button:hover {
    background-color:black;
    color: white;
}

#divDatos div {
    background-color: rgba(255,255,255,0.8);
    padding: 15px;
    border-radius: 5px;
}

#contacto input {
    border-radius: 5px;
}
