body {
    margin:0;
}
header #logo {
  background-image: url("../img/iconoweb.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 30px;
}
#logo p{
  text-align: center;
  margin-top: 70px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

header #menu{
  color:white;
  font-size: 30px;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: -10vh;

}
#menu a{
  margin-right: 20px;
    color:inherit;
}
#redesSociales{
  margin-top: -8vh;
  float:right;
  margin-right:10px;
}
#redesSociales ul{
  list-style-type: none;
}
#redesSociales ul li {
  float:left;
  margin-right: 5px;
  background-size: contain;
  width:50px;
  height:50px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
#redesSociales ul li:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
#redesSociales #tw{
  background-image: url("../img/twitter_icon.png");
}
#redesSociales #wp{
  background-image: url("../img/whatsapp_icon.png");
}
#redesSociales #fb{
  background-image: url("../img/facebook_icon.png");
}
#redesSociales #ig{
  background-image: url("../img/instagram_icon.png");
}
#redesSociales #lk{
  background-image: url("../img/linkedin_icon.png");
}
#redesSociales #yt{
  background-image: url("../img/youtube_icon.png");
}
#inicio{
  background-image: url("../img/nathan-anderson-316188-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  width:100%;
}
#principal {
  margin-top: 10vh;
  font-family: sans-serif;
  float:left;
  color:white;
  margin-left: 30%;
}
#principal h1,h2 {
  display: block;
}
#principal h1 {
  font-weight: bold;
  font-size: 70px;
}
#principal h2 {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 50px;
  margin-top: 50px;
}

#destinos{
  height:1000px;
}

#nosotros .wrapper{
    background-image: url("../img/elefantes.jpg");
    /*width: 100vw;*/
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#nosotros .wrapper > div {
    width: 35vw;
    background-color: rgba(255, 255, 255,0.5);
    position: relative;
    top: 30px;
    left: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
}

#nosotros .wrapper > div h3,
#nosotros .wrapper > div p{
    color: white;
}

#nosotros .wrapper > div p {
    text-shadow: 1px 1px #537775;
}

#descubrir{
    background-color: #ff6600;
    font-weight: bold;
    width: 110px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 3px;
    padding: 3px 0px;
    position: relative;
    bottom: 5px !important;
    margin-top: 50px;
}
#verDestinos{
  width: 300px;
  text-align: center;
  background-color: #ff6600;
  font-weight: bold;
  font-size: 30px;
  font-weight: lighter;
  font-style: italic;
  border-radius: 3px 0px;
  margin-top: 10vh;
  margin-left: 25vh;
  padding: 20px;
}
#descubrir:hover, #verDestinos:hover {
    cursor:pointer;
    background-color: antiquewhite;
}

#mapa {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

#mapa > .row .col-md-6:nth-child(1){
    display: flex;
    justify-content: center;
}

#formulario input{
    margin-bottom: 10px !important;
}

footer {
    background-color: #FC8E32;
    padding-top: 10px;
}

footer a{
    color: #646464;
    /*font-weight: bold;*/
}

footer a:hover{
    color: white;
}

footer .col-md-4 {
    text-align: center;
}

.footerTitle {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0px;
}

#textoAyuda {
    color: #646464;
}

#divDatos p{
    color: #CA4D0F;
}

#copyRight {
    text-align: center;
    border-top: solid 1px #646464;
    color: #646464;
    padding: 15px 0px;
    font-size: 0.8em;
    margin-top: 10px;
}
